
.accordion {
    text-align: center;
    padding: 100px;
}

.accordion h2 {
    color:grey;
}

.accordion-button {
    padding: 20px;
    width: 70%;
    height: 30%;
    color: orange;
}


hr{
    color: grey;
}

