



.accordion {
    text-align: center;
    padding: 160px;
}

.accordion h2 {
    color:grey;
}

.accordion-button {
    padding: 20px;
    width: 1000px;
    margin-top: -10px;
    color: orange;
}


hr{
    color: grey;
}

.text-container {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom:1px solid grey;
    margin-left: 55.6px;
    width: 1000px;
    margin-top: -9px;
    margin-bottom: 10px;
    color: grey;
}
